@import url(https://fonts.googleapis.com/css?family=Chivo);

body {
  margin: 0;
  padding: 0;
  font-family: Chivo, ariel, sans-serif;
  font-size: 17px;
  color: #151569;
  line-height: 1.6;
}

#showcase {
  background-image: url('../img/surfer.jpg');
   background-size: cover;
   background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;   
      }

#showcase h1{
  font-family: Chivo;
  font-size: 50px;  
  color: white;
  margin-top: 8em;
  padding-bottom: 0;
  line-height: 1.2;
}

#showcase p{
font-size: 18px;
color: white;
margin-top: 0;
padding-top: 0;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  border: white 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 0px;
}

#showcase .button:hover{
  background: #ffa70e;
  color: black;
  font-weight: 600;
  border-color: black;
}

#section-a{
  padding: 20px;
  background: #ffa70e;
  color: black;
  text-align: center;
}

#section-b{
  padding: 20px; 
  background: #f4f4f4;
  text-align: center;
  color: black;
}

#section-c {
  display: flex;
}

#section-c div{
  padding: 20px;
}

#section-c .box1, #section-c .box3 {
  background: #ffa70e;
  color: black;
  }

#section-c .box2 {
  background: #f4f4f4; 
  color: black;
}

#section-d{
  padding: 20px; 
  background: #f4f4f4;
  text-align: center;
  color: black;


